@page
@using Framework.Application
@model ServiceHost.Pages.CartModel
@{
    ViewData["Title"] = "سبد خرید";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">سبد خرید شما</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="/Index">صفحه اصلی</a>
                            </li>
                            <li class="active">سبد خرید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div id="productStockWarning">
                        @foreach (var item in Model.Items.Where(x => !x.IsInStock))
                        {
                            <div class="alert alert-warning" id="@item.Id">
                                <i class="fa fa-warning">کالای <strong >@item.Name</strong> با این تعداد در انبار موجود نمی‌باشد.</i>
                            </div>
                        }
                    </div>
                    <div class="page-content-wrapper">
                        <form action="#">
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="pro-thumbnail">تصویر</th>
                                        <th class="pro-title">نام محصول</th>
                                        <th class="pro-price">قیمت واحد</th>
                                        <th class="pro-quantity">تعداد</th>
                                        <th class="pro-subtotal">قیمت کل</th>
                                        <th class="pro-remove">حذف</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a asp-page="/Product" asp-route-id="@item.Slug">
                                                    <img src="~/ProductPictures/@item.Img" class="img-fluid">
                                                </a>
                                            </td>
                                            <td class="pro-title">
                                                <a asp-page="/Product" asp-route-id="@item.Slug">@item.Name</a>
                                            </td>
                                            <td class="pro-price">
                                                <span>@item.UnitePrice.ToMoney() تومان</span>
                                            </td>
                                            <td class="pro-quantity">
                                                <div class="quantity-selection">
                                                    <input type="number" value="@item.Count" min="1" onchange="changeCount('@item.Id', 'total-@item.Id', this.value)">
                                                </div>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span id="total-@item.Id">@item.ItemTotalPrice.ToMoney() تومان</span>
                                            </td>
                                            <td class="pro-remove">
                                                <a asp-page-handler="Remove" asp-route-id="@item.Id">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-lg-6 col-12 d-flex">
                                <div class="cart-summary">
                                    <div class="cart-summary-button">
                                        <a class="checkout-btn" asp-page-handler="Checkout">ادامه فرایند خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>